@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.nav {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1rem 6.5rem;
	background: #232427;
	z-index: 10000;
}

.nav h2 {
	color: #fff;
	font-size: 1.7rem;
}

#item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#item li {
	list-style: none;
	padding-right: 50px;
}

#item li a {
	text-decoration: none;
	font-size: 1rem;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
}
#item li a:hover {
	color: #ff5733;
}

#item .icon {
	text-align: center;
}

#item .icon i {
	color: #dde1e7;
	font-weight: bolder;
	font-size: 1.2rem;
	margin: 5px 5px 0;
    width: 40px;
    height: 40px;
	line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
#item .icon .fa-twitter:hover {
	background: #1d9bf0;
    color: #fff;
}
#item .icon .fa-tiktok:hover {
	background: #1b1a17;
    color: #fff;
}
#item .icon .fa-youtube:hover {
	background: #fff;
    color: #ff0000;
}

.back {
	background-image: url(assets/bg.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
	z-index: -1;
}

.back .overlay {
	background: #171819;
	width: 100%;
	height: 100%;
	opacity: 0.85;
}

.mid {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.mid p {
	color: #7f8c8d;
	font-size: 1.3rem;
	margin-bottom: 1.4rem;
}

.mid h2 {
	color: #fff;
	font-size: 3rem;
}

.mid .btn {
	margin-top: 2rem;
}

.mid .btn a {
	text-decoration: none;
	text-transform: uppercase;
}

.mid .btn a.btn-1 {
	color: #fff;
	font-weight: 500;
	padding: 0.9rem 1.6rem;
	border: none;
}
.mid .btn a.btn-1:hover {
	color: #ff5733;
}

.mid .btn a.btn-2 {
	color: #ff5733;
	border: 1px solid #ff5733;
	font-weight: 500;
	padding: 0.9rem 1.6rem;
	border-radius: 3px;
}
.mid .btn a.btn-2:hover {
	background: #fff;
	border: 1px solid #fff;
}

.details {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 8rem 15rem;
	background: #171819;
}

.details h3,h5,h6 {
	color: #fff;
}

.details .one {
	width: 46%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.details .one h3 {
	font-size: 2.5rem;
	padding-bottom: 1.1rem;
}

.details .one h6 {
	font-size: 1.3rem;
	font-weight: 400;
	padding-bottom: 1.2rem;
}

.details .one p {
	color: #666262;
	font-size: 1.2rem;
	padding-bottom: 3rem;
}

.details .one a {
	color: #fff;
	background: #f13a11;
	padding: 1rem 0;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

.details .one a:hover {
	background: #fff;
	color: #f13a11;
}

.details .two {
	width: 46%;
	border-left: 1px solid #666262;
	padding-left: 4rem;
}

.details .two h3 {
	font-size: 2.5rem;
}

.details .two h5 {
	font-size: 1.1rem;
}

.details .two p {
	color: #666262;
	font-size: 1.1rem;
	margin-bottom: 0.8rem;
}

.trainer {
	background: #f9f9f9;
	padding: 8rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.trainer .about {
	width: 39%;
}

.trainer .about h2 {
	font-size: 2.1rem;
	color: #212529;
	padding-bottom: 1.8rem;
}

.trainer .about p {
	font-size: 1.1rem;
	color: #7f8c8d;
}

.trainer .people {
	width: 57%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.trainer .people .instructor {
	width: 45%;
	height: auto;
	box-sizing: border-box;
	background: #fff;
	box-shadow: 1.9px 1.9px 3.6px rgba(0, 0, 0, 0.031),
  	5.4px 5.4px 10px rgba(0, 0, 0, 0.045),
  	13px 13px 24.1px rgba(0, 0, 0, 0.059),
  	43px 43px 80px rgba(0, 0, 0, 0.09);
}

.trainer .people .instructor .img img {
	width: 100%;
	object-fit: cover;
}

.trainer .people .instructor .team-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 10px;
}

.trainer .people .instructor .name, 
.trainer .people .instructor .position {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.trainer .people .instructor .name h4 {
	color: #212529;
	font-size: 1.5rem;
}

.trainer .people .instructor .name i {
	color: #1d9bf0;
	font-size: 1.3rem;
	font-weight: bolder;
	cursor: pointer;
    margin: 5px 5px 0;
    width: 40px;
    height: 40px;
	line-height: 40px;
    border-radius: 50%;
}
.trainer .people .instructor .name i:hover {
	background: #1d9bf0;
    color: #fff;
}

.trainer .people .instructor .name {
	padding: 5px 5px 0 20px;
}

.trainer .people .instructor .position p {
	color: #212529;
	margin-top: -30px;
}

.trainer .people .instructor .position i {
	color: #212529;
	font-size: 1.3rem;
	font-weight: bolder;
	cursor: pointer;
	margin: 1px 1px 0;
    width: 40px;
    height: 40px;
	line-height: 40px;
    border-radius: 50%;
}
.trainer .people .instructor .position i:hover {
	background: #1b1a17;
    color: #fff;
}

.trainer .people .instructor .position {
	padding: 0px 10px 5px 20px;
}

.classes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 7rem 8rem;
}

.classes .text {
	font-size: 1.3rem;
	color: #95a5a6;
	padding-bottom: 6px;
	text-align: center;
}

.classes .title {
	font-size: 2.2rem;
	color: #212529;
	font-weight: 700;
	padding-bottom: 50px;
	text-align: center;
}