@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

/* 
---------------------------------------------
pre header
--------------------------------------------- 
*/
.pre-header {
	background-color: #efefef;
  	height: 60px;
  	padding: 15px 105px;
}

.pre-header ul li {
  	display: inline-block;
}

.pre-header ul.info li {
  	margin-right: 45px;
}

.pre-header ul.info li a {
  	color: #afafaf;
  	font-size: 14px;
  	transition: all .3s;
  	text-decoration: none;
}

.pre-header ul.info li a:hover {
  	color: #fe664e;
}

.pre-header ul.info li a i {
  	font-size: 18px;
  	margin-right: 8px;
}

.pre-header .social-media {
  	text-align: right;
  	margin-top: -33px;
}

.pre-header .social-media i {
  	background-color: #afafaf;
  	color: #fff;
	margin: 5px 5px 0;
  	width: 35px;
  	height: 35px;
  	line-height: 35px;
  	text-align: center;
  	border-radius: 50%;
  	font-size: 0.80rem;
  	font-weight: bolder;
  	transition: .5s;
  	z-index: 3;
}

.pre-header .social-media .fa-twitter:hover {
	background: #1d9bf0;
    color: #fff;
}
.pre-header .social-media .fa-tiktok:hover {
	background: #1b1a17;
    color: #fff;
}
.pre-header .social-media .fa-youtube:hover {
	background: #fff;
    color: #ff0000;
}
/* 
---------------------------------------------
end pre header
--------------------------------------------- 
*/

.nav {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1rem 6.5rem;
	background: #232427;
	z-index: 10000;
}

.nav h2 {
	color: #fff;
	font-size: 1.7rem;
}

#item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#item li {
	list-style: none;
	padding-right: 50px;
}

#item li a {
	text-decoration: none;
	font-size: 1rem;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
}
#item li a:hover {
	color: #ff5733;
}

#item .icon {
	text-align: center;
}

#item .icon i {
	color: #dde1e7;
	font-weight: bolder;
	font-size: 1.2rem;
	margin: 5px 5px 0;
    width: 40px;
    height: 40px;
	line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
  	z-index: 3;
}
#item .icon .fa-twitter:hover {
	background: #1d9bf0;
    color: #fff;
}
#item .icon .fa-tiktok:hover {
	background: #1b1a17;
    color: #fff;
}
#item .icon .fa-youtube:hover {
	background: #fff;
    color: #ff0000;
}

#bar {
	color: #ff5733;
	font-size: 1.5rem;
	display: none;
}

.back {
	background-image: url(assets/bg.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
	z-index: -1;
}

.back .overlay {
	background: #171819;
	width: 100%;
	height: 100%;
	opacity: 0.85;
}

.mid {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.mid p {
	color: #7f8c8d;
	font-size: 1.3rem;
	margin-bottom: 1.4rem;
}

.mid h2 {
	color: #fff;
	font-size: 3rem;
}

.mid .btn {
	margin-top: 2rem;
}

.mid .btn a {
	text-decoration: none;
	text-transform: uppercase;
}

.mid .btn a.btn-1 {
	color: #fff;
	font-weight: 500;
	padding: 0.9rem 1.6rem;
	border: none;
}
.mid .btn a.btn-1:hover {
	color: #ff5733;
}

.mid .btn a.btn-2 {
	color: #ff5733;
	border: 1px solid #ff5733;
	font-weight: 500;
	padding: 0.9rem 1.6rem;
	border-radius: 3px;
}
.mid .btn a.btn-2:hover {
	background: #fff;
	border: 1px solid #fff;
}

.details {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 8rem 15rem;
	background: #171819;
}

.details h3,h5,h6 {
	color: #fff;
}

.details .one {
	width: 46%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.details .one h3 {
	font-size: 2.5rem;
	padding-bottom: 1.1rem;
}

.details .one h6 {
	font-size: 1.3rem;
	font-weight: 400;
	padding-bottom: 1.2rem;
}

.details .one p {
	color: #666262;
	font-size: 1.2rem;
	padding-bottom: 2.5rem;
}

.details .one a {
	color: #fff;
	background: #f13a11;
	padding: 1rem 0;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

.details .one a:hover {
	background: #fff;
	color: #f13a11;
}

.details .two {
	width: 46%;
	border-left: 1px solid #666262;
	padding-left: 4rem;
}

.details .two h3 {
	font-size: 2.5rem;
}

.details .two h5 {
	font-size: 1.1rem;
}

.details .two p {
	color: #666262;
	font-size: 1.1rem;
	margin-bottom: 0.8rem;
}

.trainer {
	background: #f9f9f9;
	padding: 8rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.trainer .about {
	width: 39%;
}

.trainer .about h2 {
	font-size: 2.1rem;
	color: #212529;
	padding-bottom: 1.8rem;
}

.trainer .about p {
	font-size: 1.1rem;
	color: #7f8c8d;
}

.trainer .people {
	width: 57%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.trainer .people .instructor {
	width: 45%;
	height: auto;
	box-sizing: border-box;
	background: #fff;
	box-shadow: 1.9px 1.9px 3.6px rgba(0, 0, 0, 0.031),
  	5.4px 5.4px 10px rgba(0, 0, 0, 0.045),
  	13px 13px 24.1px rgba(0, 0, 0, 0.059),
  	43px 43px 80px rgba(0, 0, 0, 0.09);
}

.trainer .people .instructor .img img {
	width: 100%;
	object-fit: cover;
}

.trainer .people .instructor .team-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 10px;
}

.trainer .people .instructor .name, 
.trainer .people .instructor .position {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.trainer .people .instructor .name h4 {
	color: #212529;
	font-size: 1.5rem;
}

.trainer .people .instructor .name i {
	color: #1d9bf0;
	font-size: 1.3rem;
	font-weight: bolder;
	cursor: pointer;
    margin: 5px 5px 0;
    width: 40px;
    height: 40px;
	line-height: 40px;
    border-radius: 50%;
    transition: .5s;
  	z-index: 3;
}
.trainer .people .instructor .name i:hover {
	background: #1d9bf0;
    color: #fff;
}

.trainer .people .instructor .name {
	padding: 5px 5px 0 20px;
}

.trainer .people .instructor .position p {
	color: #212529;
	margin-top: -30px;
}

.trainer .people .instructor .position i {
	color: #212529;
	font-size: 1.3rem;
	font-weight: bolder;
	cursor: pointer;
	margin: 1px 1px 0;
    width: 40px;
    height: 40px;
	line-height: 40px;
    border-radius: 50%;
    transition: .5s;
  	z-index: 3;
}
.trainer .people .instructor .position i:hover {
	background: #1b1a17;
    color: #fff;
}

.trainer .people .instructor .position {
	padding: 0 10px 5px 20px;
}

.classes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 7rem 8rem;
}

.classes .text {
	font-size: 1.3rem;
	color: #95a5a6;
	padding-bottom: 6px;
	text-align: center;
}

.classes .title {
	font-size: 2.2rem;
	color: #212529;
	font-weight: 700;
	padding-bottom: 50px;
	text-align: center;
}

.classes .class-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.classes .class-menu .instructor {
	width: 32%;
	height: auto;
	box-sizing: border-box;
	background: #fff;
	box-shadow: 1.9px 1.9px 3.6px rgba(0, 0, 0, 0.031),
  	5.4px 5.4px 10px rgba(0, 0, 0, 0.045),
  	13px 13px 24.1px rgba(0, 0, 0, 0.059),
  	43px 43px 80px rgba(0, 0, 0, 0.09);
}

.classes .class-menu .instructor .img img {
	width: 100%;
	object-fit: cover;
}

.classes .class-menu .instructor .team-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 10px;
}

.classes .class-menu .instructor .team-details .name {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5px 30px 0 30px;
}

.classes .class-menu .instructor .team-details .name .name-details h4 {
	color: #212529;
	font-size: 1.7rem;
}

.classes .class-menu .instructor .team-details .name .name-details p {
	color: #212529;
	font-size: 1.1rem;
}

.classes .class-menu .instructor .team-details .name .name-details p span {
	font-weight: 700;
	font-size: 1.1rem;
}

/*.classes .class-menu .instructor .team-details .name .num h5 {
	font-size: 1rem;
	background: #f13a11;
	width: 3.5rem;	
	height: 3.5rem;
	line-height: 3.5rem;
	text-align: center;
	border-radius: 50%;
}*/

.classes .class-menu .instructor .position {
	padding: 15px 30px 30px 30px;
}

.classes .class-menu .instructor .position p {
	font-size: 1.1rem;
	color: #666262;
	margin-bottom: 18px;
}

.classes .class-menu .instructor .position a {
	color: #fff;
	background: #f13a11;
	padding: 3px 10px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

.classes .class-menu .instructor .position a:hover {
	background: #fff;
	color: #f13a11;
	border: 1px solid #f13a11;
}

.contact {
	padding: 8rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.contact .form {
	width: 45%;
}

.contact .form h2 {
	font-size: 2rem;
	color: #212529;
	padding-bottom: 10px;
	width: 100%;
}

.contact .form .submit {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.contact .form .submit input, 
.contact .form .submit textarea {
	width: 100%;
	padding: 15px;
	border: 1px solid #95a5a6;
	outline: none;
	margin: 13px 0;
	font-size: 1.1rem;
}

.contact .form .submit input:focus, 
.contact .form .submit textarea:focus {
	border: 1px solid #212529;
}

.contact .form .submit input:focus::placeholder {
	color: #7f8c8d;
	font-size: 1.1rem;
}

.contact .form .submit textarea::placeholder {
	color: #7f8c8d;
	font-size: 1.1rem;
	width: 80%;
}

.contact .form .submit a {
	width: 100%;
	padding: 15px 0;
	text-decoration: none;
	background: #111;
	color: #fff;
	text-align: center;
	font-size: 1.1rem;
	margin: 13px 0;
}

.contact .map {
	width: 45%;
}

.contact .map h2 {
	font-size: 2rem;
	color: #212529;
	padding-bottom: 10px;
	width: 100%;
}

.contact .map p {
	font-size: 1.1rem;
	color: #212529;
	padding-bottom: 30px;
	width: 100%;
}

.contact .map p i {
	color: #f13a11;
	padding-right: 4px;
}

.contact .map iframe {
	width: 100%;
}

.footer {
	border-top: 1px solid #ecf0f1;
	padding: 5rem 8rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer p {
	font-size: 1rem;
	color: #7f8c8d;
	justify-content: flex-start;
}

.footer p i {
	color: #f13a11;
	padding-right: 10px;
}

/* 
---------------------------------------------
responsive - media query
--------------------------------------------- 
*/
@media screen and (max-width: 1024px) {
	.nav {
		padding: 1rem 6.5rem;
	}
	.nav h2 {
		font-size: 1.4rem;
	}
	#item li {
		padding-right: 30px;
	}
	#item li a {
		font-size: 0.9rem;
	}	
	#item .icon i {
		padding-right: 20px;
	}
}

@media screen and (max-width: 992px) {
	.nav {
		padding: 1rem 3rem;
	}
	.nav h2 {
		font-size: 1.6rem;
	}
	#item {
		flex-direction: column;
		text-align: center;
		width: 300px;
		height: 80vh;
		padding: 100px;
		position: fixed;
		top: 0;
		right: -300px;
		background: rgba(0,0,0,0.8);
		z-index: 100000;
		margin-top: 4.2rem;
		transition: 0.5s;
	}
	#item li {
		padding-right: 0;
		padding: 4px 0;
	}
	#item li a {
		font-size: 1.2rem;
	}
	#item .icon {
		margin: 10px;
		padding-bottom: 10px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	#item .icon i {
		padding: 0 15px 0 15px;
	}
	#bar {
		display: initial;
		cursor: pointer;
	}

	.mid p {
		font-size: 1.1rem;
		margin-bottom: 1.2rem;
	}
	.mid h2 {
		font-size: 2.5rem;
	}
	.mid .btn {
		margin-top: 1.5rem;
	}
	.mid .btn a.btn-1, .mid .btn a.btn-2 {
		padding: 0.7rem 1.4rem;
	}

	.details {
		padding: 6rem 7rem;
	}
	.details .one {
		width: 50%;
	}
	.details .one h3 {
		font-size: 2rem;
	}
	.details .one p {
		font-size: 1.1rem;
	}
	.details .one a {
		font-size: 0.9rem;
	}

	.details .two {
		padding-left: 3.5rem;
	}
	.details .two h3 {
		font-size: 2rem;
	}
	.details .two h5 {
		font-size: 1rem;
	}
	.details .two p {
		font-size: 1rem;
		margin-bottom: 0.6rem;
	}
}

@media screen and (max-width: 768px) {
	
}

@media screen and (max-width: 496px) {
	
}
/* 
---------------------------------------------
end responsive - media query
--------------------------------------------- 
*/